MeliAssetsChallengeV4.json
{
  "name": "MeliAssetsChallenge",
  "nodes": [
    {
      "parameters": {
        "content": "Ingresta de datos",
        "height": 832,
        "width": 512,
        "color": "#328F95"
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        6944,
        1904
      ],
      "id": "20c14ae6-38fd-4a32-8f15-477292d08d29",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1EHUDFelkk8vVxHaN69w9FFk2yUIA0DoNSbSUU5cuchM",
          "mode": "list",
          "cachedResultName": "assetsMELI",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1EHUDFelkk8vVxHaN69w9FFk2yUIA0DoNSbSUU5cuchM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Assets",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1EHUDFelkk8vVxHaN69w9FFk2yUIA0DoNSbSUU5cuchM/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        7248,
        2016
      ],
      "id": "f45e2f28-fa7f-4571-a05b-19a072564209",
      "name": "Get_Assets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "dDSmLoAxxsNWCNHr",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1EHUDFelkk8vVxHaN69w9FFk2yUIA0DoNSbSUU5cuchM",
          "mode": "list",
          "cachedResultName": "assetsMELI",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1EHUDFelkk8vVxHaN69w9FFk2yUIA0DoNSbSUU5cuchM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1598646564,
          "mode": "list",
          "cachedResultName": "Movement",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1EHUDFelkk8vVxHaN69w9FFk2yUIA0DoNSbSUU5cuchM/edit#gid=1598646564"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        7248,
        2224
      ],
      "id": "76887ff3-bd99-47bb-95cb-ec01a39414f4",
      "name": "Get_Movements",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "dDSmLoAxxsNWCNHr",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1EHUDFelkk8vVxHaN69w9FFk2yUIA0DoNSbSUU5cuchM",
          "mode": "list",
          "cachedResultName": "assetsMELI",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1EHUDFelkk8vVxHaN69w9FFk2yUIA0DoNSbSUU5cuchM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1015477703,
          "mode": "list",
          "cachedResultName": "StatusHistory",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1EHUDFelkk8vVxHaN69w9FFk2yUIA0DoNSbSUU5cuchM/edit#gid=1015477703"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        7248,
        2400
      ],
      "id": "1c8e6184-93af-49c5-b2e9-4957c046ec36",
      "name": "Get_Status",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "dDSmLoAxxsNWCNHr",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        6672,
        2224
      ],
      "id": "3a6a48b7-213c-4d6c-aa6a-8bb8158d5b5d",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "all_items",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        8768,
        2256
      ],
      "id": "70d7acf0-5532-48cf-a3c0-069d5e6c53e6",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "content": "",
        "height": 544,
        "width": 864,
        "color": "#552B53"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        8384,
        2176
      ],
      "typeVersion": 1,
      "id": "8a781649-4cdd-4d86-a636-6847387569f2",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1EHUDFelkk8vVxHaN69w9FFk2yUIA0DoNSbSUU5cuchM",
          "mode": "list",
          "cachedResultName": "assetsMELI",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1EHUDFelkk8vVxHaN69w9FFk2yUIA0DoNSbSUU5cuchM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1889363544,
          "mode": "list",
          "cachedResultName": "Auditoria_Results",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1EHUDFelkk8vVxHaN69w9FFk2yUIA0DoNSbSUU5cuchM/edit#gid=1889363544"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Asset ID": "={{ $json.asset_id }}",
            "Riesgo": "={{ $json.nivel_riesgo }}",
            "Fecha Auditoría": "={{ $json.fecha_auditoria }}",
            "Hallazgos": "={{ $json.analisis_detallado }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Asset ID",
              "displayName": "Asset ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Riesgo",
              "displayName": "Riesgo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Hallazgos",
              "displayName": "Hallazgos",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Fecha Auditoría",
              "displayName": "Fecha Auditoría",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        8592,
        2256
      ],
      "id": "bf43eed3-eab0-448b-b702-299de661ab13",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "dDSmLoAxxsNWCNHr",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// 1. Configuración de la fecha de auditoría\nconst hoy = new Date('2026-04-13');\nconst fechaString = hoy.toISOString().split('T')[0]; // Formato YYYY-MM-DD\n\n// 2. Procesamos TODOS los ítems que entran al nodo\nreturn $input.all().map(item => {\n    const data = item.json;\n    const info = data.info_actual || {};\n    const ultimoMov = data.ultimo_movimiento || {};\n    const historial = data.historial_estados || [];\n\n    // Cálculos de tiempo\n    const dateLastUpdate = new Date(info.last_update);\n    const dateWarrantyEnd = new Date(info.warranty_end);\n\n    const diffDays = isNaN(dateLastUpdate.getTime()) \n        ? 0 \n        : Math.floor((hoy - dateLastUpdate) / (1000 * 60 * 60 * 24));\n\n    const isWarrantyExpired = !isNaN(dateWarrantyEnd.getTime()) && dateWarrantyEnd < hoy;\n\n    // 3. Identificación de Hallazgos con Evidencia Detallada\n    let findings = [];\n    let evidencias = [];\n\n    // Inconsistencia de Estado\n    const lastStatusInHistory = (historial && historial[0]) ? historial[0].status : null;\n    if (lastStatusInHistory && info.status !== lastStatusInHistory) {\n        findings.push(\"Status Mismatch\");\n        evidencias.push(`Conflicto de Estado: Sistema dice '${info.status}' pero historial marca '${lastStatusInHistory}'`);\n    }\n\n    // Inconsistencia de Ubicación\n    if (ultimoMov.to_location && info.location !== ultimoMov.to_location) {\n        findings.push(\"Location Mismatch\");\n        evidencias.push(`Desvío Logístico: Ubicación '${info.location}' no coincide con destino '${ultimoMov.to_location}'`);\n    }\n\n    // Reglas de Negocio\n    if (isWarrantyExpired) {\n        findings.push(\"Expired Warranty\");\n        evidencias.push(`Garantía Vencida el ${info.warranty_end}`);\n    }\n\n    if (info.status === \"In Use\" && (!info.assigned_to || info.assigned_to.toLowerCase() === \"empty\" || info.assigned_to === \"\")) {\n        findings.push(\"Unassigned User\");\n        evidencias.push(\"Activo en uso sin usuario asignado\");\n    }\n\n    if (info.status === \"In Transit\" && diffDays > 30) {\n        findings.push(\"Critical Transit\");\n        evidencias.push(`Tránsito excedido: ${diffDays} días fuera de HUB`);\n    }\n\n    if (info.status === \"Repair\" && diffDays > 90) {\n        findings.push(\"Stalled Repair\");\n        evidencias.push(`Reparación estancada: ${diffDays} días en taller`);\n    }\n\n    // 4. Clasificación de Riesgo\n let nivelRiesgo = \"Ninguno\";\n    if (findings && findings.length > 0) {\n        // CRÍTICO: Pérdida de trazabilidad de usuario, tránsito excedido o taller estancado\n        if (findings.includes(\"Unassigned User\") || \n            findings.includes(\"Critical Transit\") || \n            findings.includes(\"Stalled Repair\")) {\n            nivelRiesgo = \"Crítico\";\n        } \n        // MEDIO: Inconsistencias de datos o ubicación (Location Mismatch)\n        else if (findings.includes(\"Status Mismatch\") || \n                 findings.includes(\"Location Mismatch\")) {\n            nivelRiesgo = \"Medio\";\n        } \n        // BAJO: Garantías vencidas u otros temas preventivos\n        else {\n            nivelRiesgo = \"Bajo\";\n        }\n    }\n  \n    // 5. Retornamos el objeto procesado para el Sheet\n    return {\n        fecha_auditoria: fechaString,\n        asset_id: data.asset_id,\n        nivel_riesgo: nivelRiesgo,\n        hallazgos_resumen: findings.length > 0 ? findings.join(\", \") : \"Sin inconsistencias\",\n        analisis_detallado: evidencias.length > 0 ? evidencias.join(\" | \") : \"Cumple normativas\",\n        dias_en_estado: diffDays,\n        status_actual: info.status || \"N/A\",\n        location_actual: info.location || \"N/A\",\n        destino_movimiento: ultimoMov.to_location || \"N/A\",\n        usuario_asignado: (info.assigned_to && info.assigned_to !== \"empty\") ? info.assigned_to : \"Sin asignar\",\n        garantia_vencida: isWarrantyExpired ? \"SÍ\" : \"NO\"\n    };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        8416,
        2256
      ],
      "id": "6057efe6-4b71-4fc5-9bc7-5a758f8364dc",
      "name": "Code in JavaScript2"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=[EXECUTION_COMMAND]\nPROCESS_START\n\nMANDATORY_METADATA:\n- TOTAL_ASSETS_REFERENCE: {{ $node[\"Aggregate\"].json.all_items.length }}\n\n\nINPUT_DATA_STREAM:\n{{ JSON.stringify($node[\"Aggregate\"].json.all_items) }}\nThe input data is a RAW JSON ARRAY. \nDo not guess. Do not assume percentages. \nIf a value is not present, count it as 0.\n\n\n\n[INSTRUCTION]\nApply the SOP to the INPUT_DATA_STREAM. \nThe value for TOTAL_ASSETS in the report MUST be {{ $node[\"Aggregate\"].json.all_items.length }}.\nDo not generate introductory text. \nDo not explain the process.\nIgnore empty values for 'destino_movimiento'. Even if only 5 assets have a destination, find the most frequent among those 5\n\n\n[STRICT_COMMAND]\n1. Read every 'location_actual' field.\n2. The MOST_AFFECTED_NODE is the 'location_actual' value that repeats the most.\n3. Count 'nivel_riesgo' == 'Crítico' for CRITICAL_RISK.\n4. Use the exact number {{ $node[\"Aggregate\"].json.all_items.length }} for TOTAL_\n\nOUTPUT_TEMPLATE_START:\n[TECHNICAL_STATISTICAL_REPORT]\nSTATISTICS:\n- TOTAL_ASSETS: \n\nIDENTIFICATION:\n- MOST_AFFECTED_NODE: \n\nRESUMEN_FALLOS:\n- [A logical conclusion connecting the MOST_AFFECTED_NODE with the main issue found in 'hallazgos_resumen'. Example: 'High concentration of expired warranties at HUB-CL requires immediate reconciliation.']\n\nSTOP_LOG_PROCESS",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=#OVERVIEW\nThis agent serves as a Technical IT Inventory Statistical Processor. Its primary role is to analyze asset audit JSON data to extract exact metrics, identify logistical bottlenecks, and generate technical reports without using natural language.\n\n#CONTEXT\nThe agent exists to automate the reporting of critical hardware statuses. It solves the problem of manual data misinterpretation and ensures the Asset Management team receives only structured, verified, and actionable information.\n\n#INSTRUCTIONS\nCount Elements: Identify the exact number of objects {} present in the provided JSON array.\n\nCount CRITICAL_RISK only when nivel_riesgo is exactly 'Crítico'. If the case varies (e.g., 'crítico', 'CRITICO'), count it as the same category\n\nIf destino_movimiento is empty, null, or 'N/A', ignore it for the frequency count. Only report the value that appears most often among the non-empty fields\nValidate Warranty: Count how many assets contain the property \"garantia_vencida\": \"SÍ\".\n\nLocate Node: Determine the most frequent value for the \"location_actual\" field.\n\nDetect Destination: Determine the most frequent value for the \"destino_movimiento\" field.\n\nGenerate Output: Populate the mandatory template without adding any conversational text and without adding an intro like \"basandome... \"\n\nMOST_AFFECTED_NODE must be a value from the 'location_actual' field only. NEVER use an 'asset_id' as a node.\n\n#EXAMPLES\nInput: [{\"asset_id\": \"A1\", \"nivel_riesgo\": \"Crítico\", \"location_actual\": \"HUB-BR\"}, {\"asset_id\": \"A2\", \"nivel_riesgo\": \"Low\", \"location_actual\": \"HUB-BR\"}]\nOutput:\n[TECHNICAL_STATISTICAL_REPORT]\nSTATISTICS:\n\nTOTAL_ASSETS: \nCRITICAL_RISK: \nEXPIRED_WARRANTIES: 0\nIDENTIFICATION:\nMOST_AFFECTED_NODE: \nSTOP_LOG_PROCESS\n\n#SOP (Standard Operating Procedure)\n1.Receive the JSON string from the previous node.\n2.Validate that the input is a valid array of objects.\n3.Iterate through every object to sum the requested metrics.\n4.Compare locations and destinations to determine the critical nodes.\n5.Format the final response strictly according to the template.\n\nSelf-Audit: Perform a cross-check—the sum of specific errors must never exceed the total number of assets.\n\n#FINAL NOTES\nEdge Case: If the JSON is empty or null, return \"ERROR: NO_DATA\".\n\nValidation: If a field like destino_movimiento is missing or null, report as \"N/A\".\n\nStrictness: Prohibited phrases include \"Here is the report,\" \"Based on the data,\" or \"I hope this helps.\" Only output the tags and data.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        8944,
        2256
      ],
      "id": "bb58d367-163b-4ebe-a212-585818d2e19a",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash-lite",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        9072,
        2544
      ],
      "id": "5c5725f6-2452-4fbb-87d5-da52e61d8fad",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "HZbOWLJhuE3IziI1",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "content": "En caso de requerir otra ia se debe cambiar el modelo",
        "height": 224,
        "color": "#8F944C"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        8992,
        2464
      ],
      "typeVersion": 1,
      "id": "a23f7285-1b6f-4261-ab2b-8361beaf6a8a",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "model": "=llama3.1:latest",
        "options": {
          "temperature": 0,
          "topP": 0.1,
          "numPredict": 1000
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        8832,
        2432
      ],
      "id": "6dda57bc-fb3c-44e6-946f-7d59ca3e47ac",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "m8yM34acZAG5QUZc",
          "name": "Ollama account 3"
        }
      }
    },
    {
      "parameters": {
        "content": "logica y limpieza",
        "height": 304,
        "width": 608,
        "color": "#C0892A"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        7616,
        2160
      ],
      "typeVersion": 1,
      "id": "f09b18ea-0ebb-47bd-9ed2-9dec1131901e",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "maxItems": 200
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        8048,
        2256
      ],
      "id": "b3a33229-379f-4239-80b1-eab23b161782",
      "name": "Limit"
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        7680,
        2240
      ],
      "id": "62ef1aa0-6b28-420f-b14d-f8991fbbf9d7",
      "name": "Merge"
    },
    {
      "parameters": {
        "jsCode": "// Usamos una forma más directa de pedir los datos\nlet assets, movements, statusHistory;\n\ntry {\n  assets = $(\"Get_Assets\").all();\n  movements = $(\"Get_Movements\").all();\n  statusHistory = $(\"Get_Status\").all();\n} catch (e) {\n  throw new Error(\"Asegurate de ejecutar Get_Assets, Get_Movements y Get_Status antes que este nodo.\");\n}\n\n// El resto del código sigue igual...\nreturn assets.map(item => {\n  const asset = item.json;\n  const assetId = asset.asset_id;\n\n  const lastMovement = movements\n    .filter(m => m.json.asset_id === assetId)\n    .sort((a, b) => new Date(b.json.movement_date) - new Date(a.json.movement_date))[0]?.json || null;\n\n  const recentStatus = statusHistory\n    .filter(s => s.json.asset_id === assetId)\n    .sort((a, b) => new Date(b.json.status_date) - new Date(a.json.status_date))\n    .slice(0, 2)\n    .map(s => s.json);\n\n  return {\n    json: {\n      asset_id: assetId,\n      info_actual: asset,\n      ultimo_movimiento: lastMovement,\n      historial_estados: recentStatus\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        7872,
        2256
      ],
      "id": "5f994d99-07be-4522-94a8-fda514dfdc07",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "sendTo": "federicosspotti@gmail.com",
        "subject": "Reporte de Auditoría: Detección de Inconsistencias",
        "message": "=<div style=\"font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; max-width: 600px; color: #333;\">\n  <h2 style=\"color: #004a99; border-bottom: 2px solid #004a99; padding-bottom: 10px;\">\n    Technical Inventory Audit Report\n  </h2>\n\n  <div style=\"background-color: #f4f4f4; padding: 15px; border-radius: 5px; margin: 20px 0;\">\n    <p style=\"margin: 5px 0;\"><strong>📊 STATISTICS</strong></p>\n    <ul style=\"list-style: none; padding-left: 0;\">\n      <li>Total Assets: <strong>{{ $json.output.match(/TOTAL_ASSETS: (\\d+)/)[1] }}</strong></li>\n    </ul>\n  </div>\n\n  <div style=\"border-left: 4px solid #e67e22; padding-left: 15px; margin: 20px 0;\">\n    <p style=\"margin: 5px 0;\"><strong>📍 IDENTIFICATION</strong></p>\n    <p style=\"margin: 5px 0;\">Most Affected Node: <span style=\"color: #e67e22; font-weight: bold;\">{{ $json.output.match(/MOST_AFFECTED_NODE: ([\\w-]+)/)[1] }}</span></p>\n  </div>\n\n  <div style=\"background-color: #fdf2f2; border: 1px solid #f5c6cb; padding: 15px; border-radius: 5px;\">\n    <p style=\"margin: 0 0 10px 0; color: #721c24;\"><strong>⚠️ RESUMEN DE FALLOS</strong></p>\n    <p style=\"margin: 0;\">{{ $json.output.match(/RESUMEN_FALLOS:\\n- (.*)/)[1] }}</p>\n  </div>\n\n  <p style=\"margin-top: 30px; font-size: 0.9em; color: #666;\">\n    Saludos,<br>\n    <strong>Sistema de Auditoría IA</strong>\n  </p>\n</div>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        9136,
        3216
      ],
      "id": "39446b9a-7ff6-425a-97d8-b9221847768a",
      "name": "Send a message1",
      "webhookId": "08a73e23-ac41-465a-a787-dd7ed50bec98",
      "credentials": {
        "gmailOAuth2": {
          "id": "lYe6XSXRc96vIYj3",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Usamos una forma más directa de pedir los datos\nlet assets, movements, statusHistory;\n\ntry {\n  assets = $(\"Get_Assets\").all();\n  movements = $(\"Get_Movements\").all();\n  statusHistory = $(\"Get_Status\").all();\n} catch (e) {\n  throw new Error(\"Asegurate de ejecutar Get_Assets, Get_Movements y Get_Status antes que este nodo.\");\n}\n\n// El resto del código sigue igual...\nreturn assets.map(item => {\n  const asset = item.json;\n  const assetId = asset.asset_id;\n\n  const lastMovement = movements\n    .filter(m => m.json.asset_id === assetId)\n    .sort((a, b) => new Date(b.json.movement_date) - new Date(a.json.movement_date))[0]?.json || null;\n\n  const recentStatus = statusHistory\n    .filter(s => s.json.asset_id === assetId)\n    .sort((a, b) => new Date(b.json.status_date) - new Date(a.json.status_date))\n    .slice(0, 2)\n    .map(s => s.json);\n\n  return {\n    json: {\n      asset_id: assetId,\n      info_actual: asset,\n      ultimo_movimiento: lastMovement,\n      historial_estados: recentStatus\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        7824,
        3104
      ],
      "id": "35d77d20-7831-44f8-a07d-44fd68402a4c",
      "name": "Code in JavaScript3"
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        7632,
        3088
      ],
      "id": "a01b81e0-eb35-4fc3-a502-e0176a3c7fa5",
      "name": "Merge1"
    },
    {
      "parameters": {
        "maxItems": 200
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        8000,
        3104
      ],
      "id": "88bced3b-8826-4df1-b26e-068ae775c9b2",
      "name": "Limit1"
    },
    {
      "parameters": {
        "content": "logica y limpieza",
        "height": 240,
        "width": 608,
        "color": "#C0892A"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        7568,
        3056
      ],
      "typeVersion": 1,
      "id": "0c9c1985-d7cc-4ce8-b19f-a93dac3009b9",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "content": "Ejemplo de modelo aduitor\nSe requiere modelo de IA mas compatible al que tengo actualmente",
        "height": 80,
        "width": 384
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        7840,
        3360
      ],
      "typeVersion": 1,
      "id": "84fca67b-c1ea-4a0d-9a6a-8c5f077b9bd5",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "jsCode": "const hoy = new Date('2026-04-13');\nconst info = $json.info_actual || {};\nconst historial = $json.historial_estados || [];\n\n// 1. Ordenar el historial por fecha (de más reciente a más antiguo)\nconst historialOrdenado = [...historial].sort((a, b) => {\n  return new Date(b.status_date) - new Date(a.status_date);\n});\n\n// 2. Tomar el primer elemento del historial ordenado\nconst ultimoEstadoReal = historialOrdenado.length > 0 ? historialOrdenado[0].status : info.status;\n\n// 3. Cálculos básicos\nconst lastUpdate = new Date(info.last_update);\nconst diffDays = Math.floor((hoy - lastUpdate) / (1000 * 60 * 60 * 24));\nconst garantiaVencida = new Date(info.warranty_end) < hoy;\n\nreturn {\n  asset_id: $json.asset_id,\n  status_actual: info.status,\n  ultimo_estado_historial: ultimoEstadoReal, // Ahora sí es el último\n  location_actual: info.location,\n  destino_movimiento: $json.ultimo_movimiento.to_location,\n  user: info.assigned_to === 'empty' ? 'NOT_ASSIGNED' : info.assigned_to,\n  days: diffDays,\n  is_expired: garantiaVencida\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        8528,
        3168
      ],
      "id": "958f68fd-add6-4bef-bf03-6c76c6218418",
      "name": "Code in JavaScript5"
    },
    {
      "parameters": {
        "model": "=llama3.1:latest",
        "options": {
          "temperature": 0,
          "topP": 0.1,
          "numPredict": 100
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        8528,
        3376
      ],
      "id": "b6d720f0-8639-46a9-ba9e-ce2836d9a1ca",
      "name": "Ollama Chat Model1",
      "credentials": {
        "ollamaApi": {
          "id": "m8yM34acZAG5QUZc",
          "name": "Ollama account 3"
        }
      }
    },
    {
      "parameters": {
        "content": "Auditor",
        "height": 784,
        "width": 1104,
        "color": "#21520F"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        8272,
        3056
      ],
      "typeVersion": 1,
      "id": "44d7b2ce-f4a2-47d6-8272-34b1be72bfbb",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "En caso de requerir otra ia se debe cambiar el modelo",
        "height": 224,
        "color": "#8F944C"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        8400,
        3504
      ],
      "typeVersion": 1,
      "id": "a2a3c5bc-841b-446c-a261-85ab0652a90f",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "amount": 2
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        8800,
        3584
      ],
      "id": "308c5c94-67ca-4f7a-80a1-76bc52c1584f",
      "name": "Wait",
      "webhookId": "88891152-29c5-4b62-9ed4-3c151812fc91"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        8368,
        3104
      ],
      "id": "697613b8-41b0-4fd1-af11-6ba0e66c36fe",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash-lite",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        8480,
        3584
      ],
      "id": "e9fde2f3-2e1f-4d1f-990e-1046036cf02a",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "HZbOWLJhuE3IziI1",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=DATOS DEL ASSET:\nID: {{ $json.asset_id }}\n¿Estado coincide con Historial?: {{ $json.status_actual === $json.ultimo_estado_historial ? 'SI' : 'NO' }}\n¿Ubicacion coincide con Destino?: {{ $json.location_actual === $json.destino_movimiento ? 'SI' : 'NO' }}\nEstado_Actual: {{ $json.status_actual }}\nUsuario_Asignado: {{ $json.user }}\nDias_Transcurridos: {{ $json.days }}\nGarantia_Vencida: {{ $json.is_expired ? 'SI' : 'NO' }}",
        "options": {
          "systemMessage": "=### ROLE: STRICT_AUDITOR\nFormat: [ID] | Risk: [High/Medium/Low] | Findings: [List]\n\n### DETECTION RULES:\n- If '¿Estado coincide con Historial?' is \"NO\" -> \"Status Mismatch\".\n- If '¿Ubicacion coincide con Destino?' is \"NO\" -> \"Location Mismatch\".\n- If 'Estado_Actual' is \"In Use\" AND 'Usuario_Asignado' is \"NOT_ASSIGNED\" -> \"Unassigned User\".\n- If 'Estado_Actual' is \"In Transit\" AND 'Dias_Transcurridos' > 30 -> \"Critical Transit\".\n- If 'Estado_Actual' is \"Repair\" AND 'Dias_Transcurridos' > 90 -> \"Stalled Repair\".\n- If 'Garantia_Vencida' is \"SI\" -> \"Expired Warranty\".\n\n### CRITICAL:\n- ONLY report what is detected. \n- If no findings -> Findings: None.\n- ONE LINE ONLY. No explanations. No preamble."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        8736,
        3216
      ],
      "id": "d574f0e0-585f-4408-bb15-ce28efa4b294",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "content": "ENVIO DE MAIL",
        "height": 480,
        "width": 1392,
        "color": "#28B446"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        9344,
        2128
      ],
      "typeVersion": 1,
      "id": "b95ee5d3-6c00-4ba8-9fdf-2b9c22c227b0",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "operation": "clear",
        "documentId": {
          "__rl": true,
          "value": "1EHUDFelkk8vVxHaN69w9FFk2yUIA0DoNSbSUU5cuchM",
          "mode": "list",
          "cachedResultName": "assetsMELI",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1EHUDFelkk8vVxHaN69w9FFk2yUIA0DoNSbSUU5cuchM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1889363544,
          "mode": "list",
          "cachedResultName": "Auditoria_Results",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1EHUDFelkk8vVxHaN69w9FFk2yUIA0DoNSbSUU5cuchM/edit#gid=1889363544"
        },
        "clear": "specificRange",
        "range": "A2:Z1000"
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        6976,
        2224
      ],
      "id": "e25272ae-e0a5-495d-a629-92180ea310cd",
      "name": "LimpiarAuditoria (Testing)",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "dDSmLoAxxsNWCNHr",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "federicosspotti@gmail.com",
        "subject": "Reporte de Auditoría: Detección de Inconsistencias",
        "message": "=<div style=\"font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; max-width: 600px; color: #333; border: 1px solid #eee; padding: 20px; border-radius: 10px;\">\n  \n  <h2 style=\"color: #004a99; border-bottom: 2px solid #004a99; padding-bottom: 10px; margin-top: 0;\">\n    Technical Inventory Audit Report\n  </h2>\n\n  <div style=\"background-color: #fff5f5; border-radius: 5px; margin: 20px 0; padding: 15px; border: 1px solid #feb2b2; text-align: center;\">\n      <p style=\"margin: 0; font-size: 0.8em; color: #c53030; font-weight: bold; text-transform: uppercase;\">Estado de Riesgo Operativo</p>\n      <h1 style=\"margin: 5px 0; color: #c53030; font-size: 48px;\">{{ $json.porcentaje_peligro }}%</h1>\n      <p style=\"margin: 0; font-size: 0.8em; color: #777;\">Proporción de activos con criticidad detectada</p>\n  </div>\n<div style=\"background-color: #ebf8ff; border: 1px solid #bee3f8; padding: 15px; border-radius: 5px; margin-bottom: 20px; text-align: center;\">\n    <p style=\"margin: 0; color: #2b6cb0; font-size: 0.95em;\">\n      <strong>📈 KPI DE EVOLUCIÓN:</strong> {{ $json.tendencia_visual }}\n    </p>\n</div>\n\n  <div style=\"background-color: #f4f4f4; padding: 15px; border-radius: 5px; margin: 20px 0;\">\n    <p style=\"margin: 5px 0;\"><strong>📊 ESTADÍSTICAS (Live from Sheets)</strong></p>\n    <ul style=\"list-style: none; padding-left: 0; margin: 0;\">\n      <li style=\"margin-bottom: 5px;\">Total Assets: <strong>{{ $json.total }}</strong></li>\n      <li style=\"margin-bottom: 5px;\">Alertas Críticas: <strong style=\"color: #c53030;\">{{ $json.criticos }}</strong></li>\n      <li>Garantías Vencidas: <strong>{{ $json.vencidos }}</strong></li>\n    </ul>\n  </div>\n\n  <div style=\"border-left: 4px solid #e67e22; padding-left: 15px; margin: 20px 0;\">\n    <p style=\"margin: 5px 0;\"><strong>📍 IDENTIFICACIÓN</strong></p>\n    <p style=\"margin: 5px 0;\">Most Affected Node: \n      <span style=\"color: #e67e22; font-weight: bold;\">\n        {{ $json.output.match(/MOST_AFFECTED_NODE:\\s*([^\\n\\r]+)/)[1].trim() }}\n      </span>\n    </p>\n  </div>\n\n  <div style=\"background-color: #fdf2f2; border: 1px solid #f5c6cb; padding: 15px; border-radius: 5px;\">\n    <p style=\"margin: 0 0 10px 0; color: #721c24;\"><strong>⚠️ RESUMEN DE FALLOS (AI Analysis)</strong></p>\n    <p style=\"margin: 0; line-height: 1.5;\">\n      {{ $json.output.match(/RESUMEN_FALLOS:\\s*[\\n-]*\\s*(.*)/)[1].trim() }}\n    </p>\n  </div>\n\n  <div style=\"text-align: center; margin-top: 25px;\">\n    <a href=\"https://docs.google.com/spreadsheets/d/1EHUDFelkk8vVxHaN69w9FFk2yUIA0DoNSbSUU5cuchM/edit#gid=1119561665\" \n       style=\"background-color: #004a99; color: white; padding: 12px 25px; text-decoration: none; border-radius: 5px; font-weight: bold; display: inline-block;\">\n      VER DETALLE DE AUDITORÍA\n    </a>\n  </div>\n\n  <p style=\"margin-top: 30px; font-size: 0.8em; color: #888; border-top: 1px dotted #ccc; padding-top: 10px;\">\n    Saludos,<br>\n    <strong>Sistema de Auditoría IA - Asset Management</strong><br>\n    <span style=\"font-size: 10px;\">Reporte generado automáticamente vía n8n para el Technical Challenge</span>\n  </p>\n</div>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        10512,
        2304
      ],
      "id": "d0a8e8d0-e118-42c5-af5e-2968fa99dd05",
      "name": "Send a message2",
      "webhookId": "08a73e23-ac41-465a-a787-dd7ed50bec98",
      "credentials": {
        "gmailOAuth2": {
          "id": "lYe6XSXRc96vIYj3",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        9824,
        2240
      ],
      "id": "9a28ce85-1ea9-45e3-be12-58b0ab1bf5cf",
      "name": "Merge2"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1EHUDFelkk8vVxHaN69w9FFk2yUIA0DoNSbSUU5cuchM",
          "mode": "list",
          "cachedResultName": "assetsMELI",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1EHUDFelkk8vVxHaN69w9FFk2yUIA0DoNSbSUU5cuchM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1660239721,
          "mode": "list",
          "cachedResultName": "reporte_Historico",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1EHUDFelkk8vVxHaN69w9FFk2yUIA0DoNSbSUU5cuchM/edit#gid=1660239721"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "% de riesgo": "={{ $json.Riesgo_Porcentaje }}",
            "Total_Activos": "={{ $json.Total_Activos }}",
            "TotalDeAlertas": "={{ $json.Total_Alertas }}",
            "Fecha": "={{ $json.Fecha }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Fecha",
              "displayName": "Fecha",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "% de riesgo",
              "displayName": "% de riesgo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "TotalDeAlertas",
              "displayName": "TotalDeAlertas",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Total_Activos",
              "displayName": "Total_Activos",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        10288,
        2144
      ],
      "id": "d6d2d0eb-b4f9-4830-adb2-1c2209cb1caa",
      "name": "Append row in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "dDSmLoAxxsNWCNHr",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1EHUDFelkk8vVxHaN69w9FFk2yUIA0DoNSbSUU5cuchM",
          "mode": "list",
          "cachedResultName": "assetsMELI",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1EHUDFelkk8vVxHaN69w9FFk2yUIA0DoNSbSUU5cuchM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1660239721,
          "mode": "list",
          "cachedResultName": "reporte_Historico",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1EHUDFelkk8vVxHaN69w9FFk2yUIA0DoNSbSUU5cuchM/edit#gid=1660239721"
        },
        "options": {
          "returnFirstMatch": false
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        9488,
        2464
      ],
      "id": "debb634e-c811-479e-ab2d-e44e373a95ad",
      "name": "Get reporteAnterior",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "dDSmLoAxxsNWCNHr",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1EHUDFelkk8vVxHaN69w9FFk2yUIA0DoNSbSUU5cuchM",
          "mode": "list",
          "cachedResultName": "assetsMELI",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1EHUDFelkk8vVxHaN69w9FFk2yUIA0DoNSbSUU5cuchM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 330055398,
          "mode": "list",
          "cachedResultName": "DASHBOARD",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1EHUDFelkk8vVxHaN69w9FFk2yUIA0DoNSbSUU5cuchM/edit#gid=330055398"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        9360,
        2176
      ],
      "id": "5807bfde-4e3a-4a96-90f7-34efbbc51537",
      "name": "GetDashboard",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "dDSmLoAxxsNWCNHr",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\n// 1. Identificamos cuál es cuál en el array\n// El que tiene 'output' es el de HOY\nconst hoyData = items.find(i => i.json.output).json;\n// El que tiene 'row_number' es el ANTERIOR\nconst anteriorData = items.find(i => i.json.row_number).json;\n\n// 2. Extraemos y limpiamos los valores para la cuenta\nconst hoy = hoyData.porcentaje_peligro || 0;\n// Reemplazamos coma por punto por si viene como \"66,67\"\nconst anteriorRaw = anteriorData[\"% de riesgo\"] || \"0\";\nconst anterior = parseFloat(String(anteriorRaw).replace(',', '.'));\n\n// 3. Calculamos la diferencia\nconst diferencia = (hoy - anterior).toFixed(2);\n\n// 4. Armamos la tendencia\nlet tendenciaIcono = \"⚖️\";\nlet tendenciaMensaje = \"Sin cambios\";\n\nif (diferencia < 0) {\n    tendenciaIcono = \"📉\";\n    tendenciaMensaje = `Mejora del ${Math.abs(diferencia)}%`;\n} else if (diferencia > 0) {\n    tendenciaIcono = \"⚠️\";\n    tendenciaMensaje = `Incremento del ${diferencia}%`;\n}\n\n// 5. Retornamos TODO lo de hoy + la tendencia nueva\nreturn {\n    ...hoyData,\n    tendencia_visual: `${tendenciaIcono} ${tendenciaMensaje} respecto a la última auditoría.`,\n    diferencia_valor: diferencia,\n    dato_anterior_referencia: anterior // Opcional, por si querés chequear\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        10304,
        2304
      ],
      "id": "82c53bf0-b3b2-49d6-b0fe-fa88544d9f09",
      "name": "Comparator"
    },
    {
      "parameters": {
        "jsCode": "// 1. Obtenemos los datos que vienen directamente del Merge2\n// n8n entrega los datos en un array llamado 'items' (o 'item' según la versión)\nconst data = items[0].json; \n\n// 2. Extraemos los valores. \n// Asegurate de que los nombres de las propiedades (total, criticos) \n// coincidan con los que salen del Merge2.\nconst totalActivos = data.total || 0;\nconst totalCriticos = data.criticos || 0;\n\n// 3. Calculamos el porcentaje de riesgo\nconst porcentajeRiesgo = totalActivos > 0 ? ((totalCriticos / totalActivos) * 100).toFixed(2) : 0;\n\n// 4. Generamos la fecha para el histórico\nconst fechaActual = new Date().toLocaleString(\"es-AR\", {\n  timeZone: \"America/Argentina/Buenos_Aires\",\n  hour12: false\n});\n\n// 5. Retornamos el objeto estructurado para n8n\nreturn [\n  {\n    json: {\n      \"Fecha\": fechaActual,\n      \"Riesgo_Porcentaje\": parseFloat(porcentajeRiesgo),\n      \"Total_Alertas\": totalCriticos,\n      \"Total_Activos\": totalActivos\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        10096,
        2144
      ],
      "id": "9a66ef5b-6fbd-453d-914b-d9c62bc14ff9",
      "name": "ItemFixer"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        10096,
        2304
      ],
      "id": "4e022689-1f53-45ec-8a86-a255841e131a",
      "name": "Merge3"
    },
    {
      "parameters": {
        "jsCode": "const registros = $input.all();\n\n// Ordena de mayor a menor según el número de fila\nregistros.sort((a, b) => b.json.row_number - a.json.row_number);\n\n// Retorna solo el primero (el más nuevo)\nreturn registros[0].json;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        9744,
        2464
      ],
      "id": "37b27f7e-4a13-4169-bf94-7b3a82766e91",
      "name": "LastReport"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nlet resultados = { total: 0, vencidos: 0, saludables: 0 };\n\nitems.forEach(item => {\n    const data = item.json;\n    const etiqueta = data[\"Criticos\"];\n    \n    // Buscamos dinámicamente la columna que tiene el número (ej: \"195\")\n    // Filtramos las columnas que sabemos que NO son los datos\n    const valorKey = Object.keys(data).find(key => \n        key !== \"Criticos\" && \n        key !== \"row_number\" && \n        key !== \"col_1\"\n    );\n    \n    const valor = parseFloat(data[valorKey]);\n\n    if (etiqueta === \"Cantidad assets\") resultados.total = valor;\n    if (etiqueta === \"garantiaVencida\") resultados.vencidos = valor;\n    if (etiqueta === \"Sin riesgo\") resultados.saludables = valor;\n});\n\n// Cálculos finales\nconst total = resultados.total || 1; \nconst numeroCriticos = total - resultados.saludables;\nconst porcentaje = Math.round((numeroCriticos / total) * 100);\n\nreturn {\n    total: total,\n    vencidos: resultados.vencidos,\n    criticos: numeroCriticos,\n    porcentaje_peligro: porcentaje\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        9552,
        2176
      ],
      "id": "76356f60-4834-43cb-9805-e195fba79658",
      "name": "Filtro"
    }
  ],
  "pinData": {},
  "connections": {
    "Get_Assets": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get_Movements": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Get_Status": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "LimpiarAuditoria (Testing)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "GetDashboard",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        []
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Code in JavaScript3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript3": {
      "main": [
        [
          {
            "node": "Limit1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript5": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Code in JavaScript5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LimpiarAuditoria (Testing)": {
      "main": [
        [
          {
            "node": "Get_Assets",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get_Movements",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get_Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge2": {
      "main": [
        [
          {
            "node": "ItemFixer",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge3",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get reporteAnterior",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get reporteAnterior": {
      "main": [
        [
          {
            "node": "LastReport",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GetDashboard": {
      "main": [
        [
          {
            "node": "Filtro",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Comparator": {
      "main": [
        [
          {
            "node": "Send a message2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ItemFixer": {
      "main": [
        [
          {
            "node": "Append row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge3": {
      "main": [
        [
          {
            "node": "Comparator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LastReport": {
      "main": [
        [
          {
            "node": "Merge3",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Filtro": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "595bd06d-a08f-431c-99ae-aeb88e1ed501",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e33ef6e0217b47bef99b3a79b830ab2b593a0215a67b81f3ac64d52a7c9d5e59"
  },
  "id": "gp8iVJargeNj4hn1",
  "tags": []
}